// Custom Theming for Angular Material
@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

app-root {
	--app-header-height: 55px;
	--option-background-color: #f5f5f5;
}
