<div class="login-container content-group" *ngIf="siteSettings$ | async as settings">
	<div class="lockup">
		<img [src]="(siteSettings$ | async)?.logo || 'assets/logo.png'" />
	</div>

	<form class="enter-email" *ngIf="state === 'enter-email'" (submit)="submit()">
		<div class="input-group">
			<div class="p-field">
				<input
					#emailField="ngModel"
					pInputText
					id="email"
					name="email"
					email
					required
					[(ngModel)]="email"
					placeholder="first.last@company.com"
					class="input"
				/>
			</div>
		</div>

		<p-button
			type="submit"
			label="Submit"
			styleClass="submit button-small"
			[disabled]="!email || !emailField.valid || (loading$ | async)"
			[loading]="loading$ | async"
		></p-button>

		<ng-container *ngIf="!exclusiveServer">
			<br />
			<br />
			<p-button
				label="Change Organization"
				styleClass="p-button-secondary button-extra-small"
				(onClick)="changeOrg()"
			></p-button>
		</ng-container>
		<span @fade class="error" *ngIf="emailError === 403">Invalid email address for this site.</span>
	</form>

	<app-auth-basic *ngIf="state === 'basic'" (loggedIn)="loggedIn()" [email]="email" [authConfig]="authConfig"></app-auth-basic>
	<app-auth-okta *ngIf="state === 'okta'" (loggedIn)="loggedIn()" [email]="email" [authConfig]="authConfig"></app-auth-okta>
</div>

<!-- Errors -->
<div class="api-error login-container text-center" *ngIf="settingsError">
	<h3>We're experiencing some technical difficulties.</h3>
	<p>Try refreshing the page, or contact your main contact about this issue. Reference the error below.</p>
	<p class="text-danger">{{ settingsError }}</p>
</div>
