/* You can add global styles to this file, and also import other style files */
// Import the design system
@import './theme/design-system/index';

// Google Fonts (Roboto still used for typography)
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap');

// Utilities and variables
@import './theme/utils';
@import './theme/variables';