<div class="dialog-content">
	<p *ngIf="this.data.message" [innerHTML]="this.data.message | safeHtml"></p>

	<ng-container *ngIf="confirmation && data.confirmWithString">
		<p>
			Please type <strong>{{ data.confirmationString }}</strong> below to confirm.
		</p>
		<br />

		<form [formGroup]="confirmation">
			<div class="p-field">
				<label for="verifyString">Type the name to confirm.</label>
				<input
					pInputText
					id="verifyString"
					name="verifyString"
					formControlName="verifyString"
					required
					[pattern]="escapeRegExp(data.confirmationString)"
					class="input"
				/>
			</div>
		</form>
	</ng-container>
</div>

<div class="dialog-actions">
	<p-button label="Cancel" severity="secondary" (onClick)="no()"></p-button>
	<p-button
		*ngIf="confirmation"
		[label]="this.data.confirm || 'Confirm'"
		[disabled]="data.confirmWithString && confirmation.invalid"
		severity="danger"
		(onClick)="yes()"
	></p-button>
</div>
